* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

body {
  height: 100vh;
  place-items: center;
}

.nav-container {
  background-image: url("../assets/web/s1-ft1.png");
  background-size: 100%;
  background-position: 50% 50%;
  width: 100%;
}

.navbar {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  margin: 0px 124px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
}

.nav-links:hover {
  color: #1cd4e9;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navbar-logo {
  margin-left: 40px;
  margin-right: 50px;
}

.navbar-logo img {
  width: 144px;
  height: 36px;
}

.nav-menu {
  margin-left: 160px;
  text-align: right;
}

.nav-menu ul {
  list-style-type: none;
}

.nav-menu li {
  font-size: 11px;
  margin-right: 16px;
  display: inline-block;
}

.nav-menu li a {
  color: white;
}

h1 {
  color: white;
  position: relative;
  font-size: 90px;
  margin: 120px 0px 32px;
  text-align: center;
}

section p {
  color: white;
  font-size: 15px;
  text-align: center;
}

.button1 {
  font-weight: bold;
  letter-spacing: -0.48px;
  display: inline-block;
  text-transform: uppercase;
  background: #1cd4e9;
  padding: 15px 30px;
  border-radius: 271px;
  border: none;
  color: #ffffff;
  margin: 60px 500px 30px 500px;
  text-decoration: none;
  cursor: pointer;
}

.container2 {
  position: relative;
  margin: auto;
  background-position: center;
  background-size: 100%;
}

.about-title {
  margin: 0px 80px 70px;
  padding: 40px 0px 0px 0px;
  font-size: 2.5rem;
  font-weight: 800;
}

.about-text {
  background-color: white;
  font-size: 13px;
  letter-spacing: -0.5px;
  border: none;
  margin: 0px 415px 30px 80px;
  padding: 30px 30px;
  -webkit-box-shadow: 0 4px 8px gray;
          box-shadow: 0 4px 8px gray;
}

.about-text p {
  color: black;
}

.services h2 {
  margin: 0px 80px 70px;
  padding: 40px 0px 0px 0px;
  font-size: 2.5rem;
  font-weight: 800;
  color: black;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backcard1 {
  background-image: url(../assets/web/s3-ft1.png);
  background-position: 50% 50%;
  border-radius: 25px;
  width: 350px;
  height: 450px;
  margin: 0px 20px;
}

.backcard2 {
  background-image: url(../assets/web/s3-ft2.png);
  background-position: 50% 50%;
  border-radius: 25px;
  width: 350px;
  height: 450px;
  margin: 0px 20px;
}

.backcard3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url(../assets/web/s3-ft3.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7)), url(../assets/web/s3-ft3.png);
  background-position: 50% 50%;
  border-radius: 25px;
  width: 350px;
  height: 450px;
  margin: 0px 20px;
}

.diferenciais h2 {
  margin: 30px 80px 80px;
  padding: 40px 0px 0px 0px;
  font-size: 2.5rem;
  font-weight: 800;
  color: black;
}

.card {
  width: 350px;
  height: 450px;
  padding: 25px;
  border-radius: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card p {
  text-align: center;
  color: white;
}

.card2 {
  width: 270px;
  height: 450px;
  padding: 25px;
  border-radius: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card2 img {
  width: 130px;
  height: 130px;
}

.card2 p {
  text-align: center;
  color: white;
}

.backcard4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url(../assets/web/s4-ft1.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7)), url(../assets/web/s4-ft1.png);
  background-position: 50% 50%;
  border-radius: 25px;
  width: 270px;
  height: 450px;
  margin: 0px 80px 70px 0px;
}

.backcard5 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url(../assets/web/s4-ft2.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7)), url(../assets/web/s4-ft2.png);
  background-position: 50% 50%;
  border-radius: 25px;
  width: 270px;
  height: 450px;
  margin: 0px 80px 70px 0px;
}

.backcard6 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url(../assets/web/s4-ft3.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7)), url(../assets/web/s4-ft3.png);
  background-position: 50% 50%;
  border-radius: 25px;
  width: 270px;
  height: 450px;
  margin: 0px 20px 70px 0px;
}

footer {
  background-color: black;
  border-top: yellow solid 3rem;
  border-bottom: yellow solid 3rem;
  padding: 3rem;
  width: 100%;
  height: 700px;
}

.footer-info {
  float: left;
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons {
  margin-bottom: 20px;
}

.rocky-icon {
  max-height: 40px;
  width: auto;
  margin-right: 5.25rem;
}

.face-icon {
  max-height: 40px;
  width: auto;
  margin-right: 2.25rem;
}

.linkedin-icon {
  max-height: 30px;
  width: 26px;
  margin-bottom: 6px;
  margin-right: 2.25rem;
}

.box-email-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box-email-tel a {
  color: white;
}

.email {
  margin-right: 1.25rem;
  padding-right: 1.25rem;
  border-right: solid #fff 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email img {
  margin-right: 10px;
}

.telefone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.telefone img {
  margin-right: 10px;
}

.maps {
  margin-top: 20px;
}

.footer-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-form {
  float: right;
  width: 50%;
  height: 100%;
  padding: 1.25rem;
  background-color: #4e4c4a;
  font-size: 1.25rem;
  max-width: 450px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  padding: 1rem 1.25rem;
  max-width: 100%;
  min-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
  border: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

textarea {
  width: 100%;
  padding: 1rem 1.25rem;
  max-width: 100%;
  min-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
  border: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  resize: none;
}

.footer-button {
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.6px;
  background-color: #1cd4e9;
  border: none;
  margin: 0;
  text-transform: uppercase;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */